@page
@model UMLRazor.Pages.Orders.CreateOrderModel
@{
    ViewData["Title"] = "Create Order";
}
<h1>Select Customer</h1>

<form method="post" asp-page-handler="Customer">
<p>
    Mobile : <input type="text" asp-for="SearchCustomerMobile" />
    <input type="submit" value="Search customer" />
</p>
</form>

@{
    if( @Model.TheCustomer != null)
    {
        <h3>@Model.TheCustomer.Name</h3>
        <h3>@Model.TheCustomer.Mobile</h3>
    }

}


<h1>Add MenuItem to Order</h1>